[submodule "word2vec-Chinese"]
	path = word2vec-Chinese
	url = https://github.com/lzhenboy/word2vec-Chinese.git
[submodule "nlp-metrics"]
	path = nlp-metrics
	url = https://github.com/hpzhao/nlp-metrics.git
[submodule "SummaRuNNer"]
	path = SummaRuNNer
	url = https://github.com/EvanHong99/SummaRuNNer.git
