
*.pyc
__pycache__

SummaRuNNer/checkpoints/*
!SummaRuNNer/checkpoints/.placeholder

SummaRuNNer/data/*
!SummaRuNNer/data/.placeholder

SummaRuNNer/outputs/hyp/*
!SummaRuNNer/outputs/hyp/.placeholder

SummaRuNNer/outputs/ref/*
!SummaRuNNer/outputs/ref/.placeholder

SummaRuNNer/.DS_Store

pyrouge/


Global-Encoding/venv/
Global-Encoding/data/
Global-Encoding/log/
Pointer-Generator-Networks/data/

/.DS_Store
/.ipynb_checkpoints
*/__pycache__/
prep_data/
mini_lcsts/


!*/.placeholder


